main{
    background-color: cadetblue;
}

.about{
    font-size: 50px;
}
.name{
    font-size: 25px;
}

#email{
    text-decoration: underline;
}
#email:hover{
    cursor: pointer;
    color: coral;
}
#email:active{
    user-select: all;
}